In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_excel('MOH KKM.xlsx', sheet_name='States')
data.shape

(9840, 25)

In [7]:
data.tail()

,date,state,Daily Tests,Daily Cases,Hospitalisation,ICU,Ventilators,Daily Death,BID,Actual Death,...,Cummulative First Dose,Cummulative Complete Dose,Unnamed: 17,Test %,BID %,First Dose vs Registered,Complete vs Registered,Recovered %,Death %,Reported vs Actual Death
9835,2021-09-30,Selangor,0.0,1940,1235.0,10.0,3.0,18,5,1,...,4309204.0,3998363.0,NaN,0.0,0.277778,0.771702,0.716036,0.952128,0.013808,17
9836,2021-09-30,Terengganu,0.0,726,289.0,84.0,53.0,8,1,1,...,808714.0,688170.0,NaN,0.0,0.125000,1.046798,0.890766,0.859453,0.006721,7
9837,2021-09-30,W.P. Kuala Lumpur,0.0,258,341.0,122.0,50.0,7,1,1,...,2889999.0,2715144.0,NaN,0.0,0.142857,1.382837,1.299171,0.963861,0.013367,6
9838,2021-09-30,W.P. Labuan,0.0,1,1.0,109.0,46.0,0,0,0,...,79914.0,67563.0,NaN,0.0,0.000000,1.185123,1.001958,0.983236,0.014856,0
9839,2021-09-30,W.P. Putrajaya,0.0,28,64.0,157.0,91.0,0,0,0,...,134922.0,125004.0,NaN,0.0,0.000000,1.332300,1.234364,0.929025,0.003581,0

In [15]:

data.describe()

,Daily Tests,Daily Cases,Hospitalisation,ICU,Ventilators,Daily Death,BID,Actual Death,Recovered,New Cases Cumulative,...,Cummulative First Dose,Cummulative Complete Dose,Unnamed: 17,Test %,BID %,First Dose vs Registered,Complete vs Registered,Recovered %,Death %,Reported vs Actual Death
count,1472.000000,9840.000000,8484.000000,8484.000000,8484.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,...,3.504000e+03,3.504000e+03,0.0,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000,9840.000000
mean,8428.197690,228.221037,279.900636,27.526167,14.903937,2.676321,0.536484,2.676321,208.823577,21139.399187,...,4.774849e+05,3.155200e+05,NaN,0.016017,0.041241,0.128125,0.088240,0.769544,0.010929,0.000000
std,9318.469214,639.124277,482.728796,55.648468,31.912161,11.386912,3.284475,11.018386,624.851611,58900.392319,...,7.771062e+05,5.977359e+05,NaN,0.047352,0.150506,0.315809,0.235456,0.288272,0.015046,9.253442
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-137.000000
25%,3281.500000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,160.000000,...,3.609700e+04,1.893975e+04,NaN,0.000000,0.000000,0.000000,0.000000,0.747759,0.003428,0.000000
50%,6157.000000,8.000000,90.000000,4.000000,2.000000,0.000000,0.000000,0.000000,7.000000,1264.000000,...,1.140045e+05,7.053150e+04,NaN,0.000000,0.000000,0.000000,0.000000,0.886169,0.007299,0.000000
75%,9892.250000,156.000000,355.250000,32.000000,16.000000,1.000000,0.000000,1.000000,127.000000,14802.750000,...,6.123090e+05,3.093332e+05,NaN,0.000000,0.000000,0.000000,0.000000,0.954319,0.012821,0.000000
max,56501.000000,8792.000000,4455.000000,541.000000,303.000000,359.000000,84.000000,191.000000,8801.000000,677664.000000,...,4.309204e+06,3.998363e+06,NaN,0.588197,1.000000,1.382837,1.299171,1.000000,0.142857,341.000000